<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.creationsmp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PieceActivityEdit"
            android:label="@string/ajouterPieceBoutonLabel"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".PieceActivityView"
            android:label="@string/piecesLabel"
            android:theme="@style/AppTheme"
            android:parentActivityName="InventairePiecesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="InventairePiecesActivity" />
        </activity>
        <activity
            android:name=".InventairePiecesActivity"
            android:label="@string/inventairePieceLabel"
            android:theme="@style/AppTheme"
            android:parentActivityName="MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
    </application>

</manifest>